
:root{
    --color-primary: #0099ff;
    --fondo: rgba(255,255,255,0.8);
}
body{
    font-family: 'Quicksand', sans-serif;
    width:100%;
    height:100vh;
    margin:0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/fondo-2.jpg);
    background-position: 50% 50%;
}


.container{
    width:100%;
    height:100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.todo{
    margin:0;
    width:90%;
    height:50%;
    display:flex;
    border-radius: 10px;
    align-items: center;
    border: 1px solid var(--color-primary);
    box-shadow: 0 2px 5px #2E85E6;
    background: var(--fondo);
    overflow: hidden;
}

.img{
    margin:0;
    width:90%;
    height:70vh;

}

div img{
    width: 100%;
    height:50vh;
    overflow: hidden;

}

.datos{
    margin:0;
    padding: 2%;
    width:50%;
    height:60vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    overflow: hidden;
}

.texto1{
    margin:0;
    width:100%;
    height: 90%;
    justify-content: flex-end;
    margin:0;
  
}
.texto2{
    margin:0;
    width:100%;
    height: 90%;
    justify-content: flex-end;
}


.p1{
    font-size: 16px;
    font-weight: bold;
}

input{
    width:90%;
    height:8%;
    border-radius: 7px;
    border:1px solid var(--color-primary);
    box-shadow: 0px 0px 2.5px 0 var(--color-primary);
}

.btn-registrarse{
    margin:0;
    width:90%;
    font-weight: bold;
    border:none;
    border-radius: 7px;
    background:var(--color-primary);
    width: 100%;
    height:30%;
}

.btn-registrarse:hover{
    border:1px solid var(--color-primary);
    background:#ffffff;
    color:var(--color-primary);
    font-weight: bold;
}


@media (min-width: 640px){

.datos{
    margin-top: 10%;
    justify-content:space-between;
}


    .todo{
        width:80%;
        height:90%;
        border-radius: 10px;
        border: 1px solid var(--color-primary);
        overflow: hidden;
    }
    div img{
        width: 100%;
        height:90vh;
    }

}


@media (min-width: 1200px){

    .todo{
        width:60%;
        height:60%;
    }
    div img{
        width: 90%;
        height:70vh;
    }

    .texto1{
        margin:0;
    }

    .btn-registrarse{
        margin-top:19%;
        width: 92%;
        height:9%;
    }
}

@media (min-height:640px) {

    .texto1,.texto2{
        margin-top:6%;
    }

     .btn-registrarse{
          height:100%;
      }
}

