:root{
    --color-primary: #0099ff;
    --fondo: rgba(255,255,255,0.8);
}

body{
    font-family: 'Quicksand', sans-serif;
    width:90%;
    height:100vh;
    margin:0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/fondo-2.jpg);
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}


.container{
    display: flex;
    border-radius: 10px;
    align-items: center;
    border: 1px solid var(--color-primary);
    box-shadow: 0 2px 5px #2E85E6;
    background: var(--fondo);
    overflow: hidden;
    width: 1300px;
    max-width: 800px;
 

}

img{
    width: 300px;
    object-fit: cover;
    height: 600px;

}


a{
    border: none;
    text-decoration:none;
}

.form{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.campos{
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(2, 200px);
}

    .campo{
        overflow-y: auto;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        
       
    } 

    .campo input{
        border-radius: 10px;
        padding: 10px;
        border: 1px solid var(--color-primary);
        box-shadow: 0 2px 5px #2E85E6;
    }

    
    .btn-registrarse:hover{
       background: white;
       color: #2E85E6;
        transition: 0.25s;
         border: solid 0.5px #2E85E6;
    }
    
    .btn-registrarse:active{
       background: white;
       color: #2E85E6;
        border: solid 0.5px #2E85E6;
        transform: scale(.9);
    }

    .btn-registrarse{
        transition: 0.25s;
        border:none;
        outline: none;
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        background: #2E85E6;
        color: white;
        font-weight: bold;
        margin: 10px;
    }


